---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<h2>Research Projects</h2>
In this section, I will just tell some stories behind the research papers, repositories, etc. All the published or non-published work will also be mentioned at the appropriate time.
<hr />

{% for post in site.projects reversed %}
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
  {% if post.summary %}
    <p>{{ post.summary }}</p>
  {% endif %}
{% endfor %}




