---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---

{% include base_path %}

<h2>Research Projects</h2>
In this section, I’ll share some of the stories behind the research papers, repositories, and other work. Both published and unpublished projects will be mentioned at the appropriate points.
<hr />

{% for post in site.projects reversed %}
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
  {% if post.summary %}
    <p>{{ post.summary }}</p>
  {% endif %}
{% endfor %}




